* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue;
}

.fs {
    font-size: 14px !important;

}

.header__bg {
    background: linear-gradient(-180deg, #f53d2d, #f63);

}

.bg__body {

    background-color: #f2f2f2;
}

.bg__search {
    background-color: #fb5533;
}

.fs__ms {
    font-size: 14px;
}





.next {
    width: 25px;
    height: 25px;
    color: #dbd8d8;
    border: 0px solid #000;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 12px 0 rgb(0 0 0 / 12%);
    transition: transform .2s;
    margin-left: 10px;
    color: #000;


}

.shadow-sm {
    box-shadow: 2px 2px #0f0f0f;
}

.next:hover {

    color: #000;
    transform: scale(2);
}


.fw-500 {
    font-weight: 600;
}

.home_hv:hover {
    cursor: pointer;
    transform: translate(0px, -1px);
}

.card__product {

    width: 190px;
    height: 282px !important;
    border-radius: 0px !important;

}

.img__card {
    width: 188px;
    height: 188px;
    object-fit: cover;
    object-position: 0% 0%;

}

.card__product:hover {
    position: relative;
    z-index: 1;
    border: 1px solid #f53d2d;
    transform: translate(0px, -1px);

}

.title_card {
    width: 190px;
    background-color: #f53d2d;
    position: absolute;
    top: 281px;
    left: -1px;
    right: 100px;
    z-index: 3;
    display: none;

}

.span_card .card__product:hover .title_card {

    display: block;
}

.card__w {

    width: 200px !important;
    height: 292px !important;
    padding: 5px;

}

.contai_product {
    width: 1200px !important;
}

.border__top {
    border: 1px solid rgb(255, 0, 0);
    border-width: 4px 0px 0px 0px !important;
}

.title {
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
}

.list-style {
    list-style: none;
}

.list-style li a {
    color: #000;
    margin-left: 50px;
    text-decoration: none;
}